@model Recursos_Humanos.Models.Departamento

@{
    ViewBag.Title = "Eliminar Departamento";
}

<h2>¿Seguro que desea eliminar este registro?</h2>

<div>

    <hr />
    <h4>Departamento</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Depto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Depto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Depto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Depto)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        @Html.ActionLink("Cancelar", "Index", "Empleados", new { @class = "btn btn-default" })
    </div>
    }
</div>
