@model ProyectoFinal.Models.Permiso

@{
	ViewBag.Title = "Crear Permiso";
}

<h2>Crear Permiso</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		<hr />
		<h4>Permiso</h4>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Id_Empleado, "Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("Id_Empleado", (IEnumerable<SelectListItem>)ViewBag.Id_Empleado, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Id_Empleado, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Inicio_Permiso, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Inicio_Permiso, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Inicio_Permiso, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Fin_Permiso, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Fin_Permiso, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Fin_Permiso, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Crear Permiso" class="btn btn-default" />
				@Html.ActionLink("Cancelar", "Index", "Gestion", new { @class = "btn btn-default" })
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Ir a la lista de Permisos", "Index")
</div>
